<div class="container">
    <h1>3 Ebenen-Stress-Test</h1>
    <p>nach Dr. Günther Kimpfler, alfa media institut</p>
    <img src="./../../../assets/images/Stresstest_Abb_1_Anatomi.png">
    <p id="bottom_content">„Die 3 Verhaltens-Ebenen des Menschen“</p>
    <h4>Führen Sie diesen Test durch, um zu erfahren wie Stressgefährdet Sie sind. Am Ende dieser Befragung erhalten Sie eine detaillierte Auswertung mit Tipps, wie Sie Ihre Stressresistenz verbessern können. Führen Sie diesen Test regelmäßig durch, um Ihre
        Fortschritte zu prüfen.</h4>
    <button mat-flat-button color="primary" [routerLink]="['/test']">Test Beginnen</button>
</div>